{{#with (resolvePage page.relativeSrcPath model=false)}}
{{#if (or ./asciidoc.attributes.category ./asciidoc.attributes.tags)}}
      <h3 class="text-sm font-bold dark:text-white">Categories</h3>
      {{#with ./asciidoc.attributes.category}}
      <div class="flex flex-wrap gap-1 pt-2">
        {{#each (tokenize this)}}
          {{#with (qd-category-page this)}}
          <span class="text-xs text-center font-semibold bg-lime-500 dark:bg-lime-600 text-black dark:text-white rounded-full px-2 py-0.5 align-baseline inline-block leading-none whitespace-nowrap font-display capitalize">
            <a href="{{{relativize pub.url}}}" class="font-display hover:no-underline">{{../this}}</a>
          </span>
          {{/with}}
        {{/each}}
      </div>
      {{/with}}
      {{#with ./asciidoc.attributes.tags}}
      <div class="flex flex-wrap gap-1 pt-2">
        {{#each (tokenize this)}}
          {{#with (qd-tag-page this)}}
          <span class="text-xs text-center font-semibold bg-fp-blue-light dark:bg-fp-blue text-black dark:text-white rounded-full px-2 py-0.5 align-baseline inline-block leading-none whitespace-nowrap font-display capitalize">
            <a href="{{{relativize pub.url}}}" class="font-display hover:no-underline">{{../this}}</a>
          </span>
          {{/with}}
        {{/each}}
      </div>
      {{/with}}
{{/if}}
{{/with}}
