<footer class="flex flex-col bg-fp-gray-lightest dark:bg-fp-blue-darkest dark:text-fp-gray-light text-sm dark:border-t dark:border-gray-800">
  <section class="pt-2 pb-6 px-2">

    <p class="text-center">This documentation was generated using <a href="https://antora.org/">Antora</a> using a modified version of the <a href="https://gitlab.com/fedora/docs/docs-website/ui-bundle">Fedora Docs UI Bundle</a>.</p>

    <p class="text-center text-xs text-fp-gray-dark">
      {{~#if env.ANTORA_DATE}}Last build: {{{env.ANTORA_DATE}}} {{/if~}}
      {{~#if page.attributes.creation-date}} | Page creation date: {{{page.attributes.creation-date}}} {{/if~}}
      {{~#if page.attributes.last-updated}} | Last content update: {{{page.attributes.last-updated}}} {{/if~}}
    </p>
  </section>
</footer>
