
<div class="page-languages">
    <button class="languages-menu-toggle" title="Show other languages of the site">en English</button>
    <div class="languages-menu">
        <a class="language is-active" href="{{siteRootPath}}/../en-US{{page.url}}">en English</a>
    </div>
</div>
