<aside class="toc sidebar dark:text-fp-gray-light" data-title="{{{or page.attributes.sidetoc-title 'Contents'}}}" data-levels="{{{or page.attributes.toclevels 2}}}">
  <div class="toc-content">
    <div class="toc-menu"></div>
    <div class="pt-6">
    {{> doc-tags}}
    </div>
  </div>

</aside>
