
/* .hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
  color: #CDD3D8;
} */

/* BBN Theme */
.hljs {
  font-size: 0.8em;
  color: #c0c0c0;
  background-color: #000000;
}

.hljs-keyword {
  color: #00ff00
}

.hljs-built_in {
  color: #ff8800;
}

.hljs-type {
  color: #00ff00;
}

.hljs-literal {
  color: #00ff00;
}

.hljs-number {
  color: #00ffff;
}

.hljs-operator {
  color: #ffffff;
}

.hljs-punctuation {
  color: #ffffff;
}

.hljs-property {
  color: #ffff00;
}

.hljs-regexp {
  color: #ff0000;
}

.hljs-string {
  color: #ff0000;
}

.hljs-char.escape_ {
  color: #ffd68f;
}

.hljs-subst {
  color: #fffd8f;
}

.hljs-symbol {
  color: #2196f3;
}

.hljs-variable {
  color: #ffff00;
}

.hljs-variable.language_ {
  color: #00FF00;
}

.hljs-variable.constant_ {
  color: #56b6c2;
}

.hljs-title {
  color: #56b6c2;
}

.hljs-class,
.hljs-title.class_ {
  color: #61afef
}

.hljs-function,
.hljs-title.function_ {
  color: #ff8800;
  font-style: italic;
}

.hljs-title.function_.invoke__ {
  color: #ff8800;
}

.hljs-params {
  color: #ffff00;
}

.hljs-comment {
  color: #72c772;
}

.hljs-doctag {
  color: #00b1e7;
}

/* Meta */
.hljs-meta {
  color: #0080FF;
}
.hljs-meta.prompt_ {
  color: #8b8b8b;
}
.hljs-meta .hljs-keyword {
  color: #0080FF;
}
.hljs-meta .hljs-string {
  color: #ff0000;
}

/* Tags, attributes, configs */

.hljs-section {
  color: #ff7e7e;
}

.hljs-tag {
  color: #ff7e7e;
}

.hljs-name {
  color: #ff7e7e;
}

.hljs-attr {
  color: #ff7e7e;
}

.hljs-attribute {
  color: #ff7e7e;
}


/* Text Markup */
.hljs-bullet {
  color: #ff7e7e;
}

/* .hljs-code {
  color: #ff7e7e;
} */

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-formula {
  color: #008cff;
}

.hljs-link {
  color: #61afef;
}

.hljs-quote {
  color: #ff8800;
}


/* css */
.hljs-selector-attr {
  color: #ff7e7e;
}

.hljs-selector-id {
  color: #ff7e7e;
}

.hljs-selector-pseudo {
  color: #ff7e7e;
}

.hljs-selector-tag {
  color: #ff7e7e;
}


/* Templates */
.hljs-template-tag {
  color: #ff7e7e;
}

.hljs-template-variable {
  color: #ff7e7e;
}


/* diff */
.hljs-addition {
  color: #ff7e7e;
}

.hljs-deletion {
  color: #ff7e7e;
}
